services:
  client:
    build: ./client
    env_file:
      - client/.env
    ports:
      - "80:80"
    depends_on:
      - server

  server:
    build: ./server
    env_file:
      - server/.env
    ports:
      - "5000:5000"
    depends_on:
      - db

  db:
    image: postgres:16
    env_file:
      - server/.env
    ports:
      - "6000:5432"
    volumes:
      - db-data:/var/lib/postgresql/data

volumes:
  db-data: